.paginationWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 32px;
}

.pageText {
  font-weight: 500;
  color: var(--text-blue);
  min-width: 5ch;
  text-align: center;
  span {
    color: black;
  }
}
